ollama
ipykernel
python-dotenv
pydantic
langchain
langchain-ollama
requests
openai
googlemaps

# graph
langgraph 
langsmith

# tools
langchain-tavily
tavily-python

pydantic-settings

# Interface Rich
rich

# mcp
mcp[cli]

imap-client
imap-tools